.buildlog
.DS_Store

## hidden files/folders
.idea
.pub/

## root files/folders
packages
build
pubspec.lock

## dev project
web/packages
web/css/packages
web/res/packages

## node modules
node_modules/

## logs
npm-debug.log